.table {
    display: inline-block;
    border: 2px
}

.dashboard-recent-transactions {
    display: inline-block;
    border: 2px;
}

.dashboard-card {
    display: inline-block;
    border: 2px;
}

.dashboard-main {
    display: inline-flex;
}

.dashboard-container {
    display: inline-block;
}

.dashboard-container-left {
    display: inline-flex;
}

.dashboard-container-left-expense {
    margin-top: 20px;
    margin-left: 10px;
}

.dashboard-container-right {
    margin-left: 30px;
}

.encrypted-password {
    display: inline-block;
    border: 2px;
}

.transaction {
    display: inline-block;
    border: 2px;
}