<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>가계부 홈</title>
</head>
<body>
<h1>가계부 홈</h1>

<div th:if="${session.loginUser == null}">
    <a th:href="@{/users/signup}">회원가입</a>
    <a th:href="@{/users/login}">로그인</a>
</div>

<div th:if="${session.loginUser != null}">
    <p>
        <span th:text="${session.loginUser.username}"></span>님 안녕하세요?
    </p>

    <form th:action="@{/users/logout}" method="post">
        <button type="submit">로그아웃</button>
    </form>
</div>
</body>
</html>